<section id="register">
    <div class="container">
        <form role="form" method="POST" action="/companyredis" onsubmit="">
            <h1 class="text-center">SIGN UP NOW!</h1>
            <div class="row">
                <div class="form-group required col-xs-6 col-md-4">
                    <label class="control-label" for="companyName">Company Name</label>
                    <input type="text" name="companyName" placeholder="Company Name" class="form-control required" required>
                </div>
                <div class="required form-group col-xs-6 col-md-4">
                    <label class="control-label" for="industryType">Industry Type</label>
                    <select name="industryType" id="industry" class="form-control required" required>
                        <option value="" selected>Select industry</option>
                        <option value="Aeronautics and Defence">Aeronautics and Defence</option>
                        <option value="Alternative Investment Instruments">Alternative Investment Instruments</option>
                        <option value="Automotive and Parts">Automotive and Parts</option>
                        <option value="Banking">Banking</option>
                        <option value="Beverages">Beverages</option>
                        <option value="Building and Materials">Building and Materials</option>
                        <option value="Commercial Transportation">Commercial Transportation</option>
                        <option value="Domestic Goods">Domestic Goods</option>
                        <option value="Electricity Generation and Distribution">Electricity Generation and Distribution</option>
                        <option value="Electronic & Electrical Equipment">Electronic & Electrical Equipment</option>
                        <option value="Engineering Products">Engineering Products</option>
                        <option value="Financials">Financials</option>
                        <option value="Food Products">Food Products</option>
                        <option value="Forestry & Paper">Forestry & Paper</option>
                        <option value="Fossil Fuels and Distribution">Fossil Fuels and Distribution</option>
                        <option value="Health Care and Related Services">Health Care and Related Services</option>
                        <option value="Household Utilities">Household Utilities</option>
                        <option value="Industrial Chemicals">Industrial Chemicals</option>
                        <option value="Industrials">Industrials</option>
                        <option value="Insurance">Insurance</option>
                        <option value="Investment Companies">Investment Companies</option>
                        <option value="IT Hardware">IT Hardware</option>
                        <option value="IT Services">IT Services</option>
                        <option value="Leisure Products">Leisure Products</option>
                        <option value="Media">Media</option>
                        <option value="Medicine and Biotech Research">Medicine and Biotech Research</option>
                        <option value="Metals">Metals</option>
                        <option value="Mining">Mining</option>
                        <option value="Personal Goods">Personal Goods</option>
                        <option value="Property">Property</option>
                        <option value="Property Investment Trusts">Property Investment Trusts</option>
                        <option value="Retailers">Retailers</option>
                        <option value="Support">Support</option>
                        <option value="Telecommunications">Telecommunications</option>
                        <option value="Tobacco">Tobacco</option>
                        <option value="Tourism and Leisure">Tourism and Leisure</option>
                        <option value="Utilities">Utilities</option>
                    </select>
                </div>
                <div class="required form-group col-xs-6 col-md-4">
                    <label class="control-label" for="contactName">Contact Name</label>
                    <input type="text" name="contactName" placeholder="Contact Name" class="form-control required" required>
                </div>
            </div>
            <div class="row">
                <div class="required form-group col-xs-6 col-md-6">
                    <label class="control-label" for="email">Email</label>
                    <input type="email" name="email" placeholder="Email" class="form-control required" required>
                </div>
                <div class="form-group col-xs-6 col-md-6">
                    <label for="phone">Phone</label>
                    <input type="text" name="phone" id="phone" placeholder="Phone" class="form-control" >
                </div>
            </div>
            <div class="row checkBoxWrapper">
                <label for="targetRegion">Target Region(s) </label>
                <div class="form-group col-xs-12 col-md-12">
                  <div class="form-group col-xxs-1 col-md-2">
                    <label for="targetRegion-All" class="checkbox-inline">
                        <input type="checkbox" name="targetRegion-All" id="targetRegion-All" checked>All
                    </label>
                  </div>
                  <div class="leftLine form-group col-xxs-11 col-md-10">
                    <label for="target region1" class="checkbox-inline">
                        <input type="checkbox" name="targetRegion-East" id="targetRegion1">East
                    </label>
                    <label for="target region2" class="checkbox-inline">
                        <input type="checkbox" name="targetRegion-EastMidlands" id="targetRegion2">East Midlands
                    </label>
                    <label for="target region3" class="checkbox-inline">
                        <input type="checkbox" name="targetRegion-London" id="targetRegion3">London
                    </label>
                    <label for="target region4" class="checkbox-inline">
                        <input type="checkbox" name="targetRegion-NorthEast" id="targetRegion4">North East
                    </label>
                    <label for="target region5" class="checkbox-inline">
                        <input type="checkbox" name="targetRegion-NorthWest" id="targetRegion5">North West
                    </label>
                    <label for="target region6" class="checkbox-inline">
                        <input type="checkbox" name="targetRegion-NorthernIreland" id="targetRegion-NorthernIreland">Northern Ireland
                    </label>
                    <label for="target region6" class="checkbox-inline">
                        <input type="checkbox" name="targetRegion-Scotland" id="targetRegion-Scotland">Scotland
                    </label>
                    <label for="target region6" class="checkbox-inline">
                        <input type="checkbox" name="targetRegion-SouthEast" id="targetRegion-SouthEast">South East
                    </label>
                    <label for="target region6" class="checkbox-inline">
                        <input type="checkbox" name="targetRegion-SouthWest" id="targetRegion-SouthWest">South West
                    </label>
                    <label for="target region6" class="checkbox-inline">
                        <input type="checkbox" name="targetRegion-Wales" id="targetRegion-Wales">Wales
                    </label>
                    <label for="target region6" class="checkbox-inline">
                        <input type="checkbox" name="targetRegion-WestMidlands" id="targetRegion-WestMidlands">West Midlands
                    </label>
                    <label for="target region6" class="checkbox-inline">
                        <input type="checkbox" name="targetRegion-YorkshireandtheHumber" id="targetRegion-YorkshireandtheHumber">Yorkshire and the Humber
                    </label>
                  </div>
                </div>
            </div>
            <div class="row checkBoxWrapper">
                <label for="societyInterest">Student Societies Interested in Partnering with </label>
                <div class="form-group col-xs-12 col-md-12">
                  <div class="form-group col-xxs-1 col-md-2">
                    <label for="socInterestAll" class="checkbox-inline">
                        <input type="checkbox" name="socInterest-All" id="socInterest-All" checked>All
                    </label>
                  </div>
                  <div class="leftLine form-group col-xxs-11 col-md-10">
                    <label for="AcademicEmployability" class="checkbox-inline">
                        <input type="checkbox" name="socInterest-AcademicEmployability" id="AcademicEmployability">Academic & Employability
                    </label>
                    <label for="ArtsCulture" class="checkbox-inline">
                        <input type="checkbox" name="socInterest-ArtsCulture" id="ArtsCulture">Arts & Culture
                    </label>
                    <label for="FaithWorldview" class="checkbox-inline">
                        <input type="checkbox" name="socInterest-FaithWorldview" id="FaithWorldview">Faith & Worldview
                    </label>
                    <label for="FitnessWellbeing" class="checkbox-inline">
                        <input type="checkbox" name="socInterest-FitnessWellbeing" id="FitnessWellbeing">Fitness & Wellbeing
                    </label>
                    <label for="International" class="checkbox-inline">
                        <input type="checkbox" name="socInterest-International" id="International">International
                    </label>
                    <label for="Media" class="checkbox-inline">
                        <input type="checkbox" name="socInterest-Media" id="Media">Media
                    </label>
                    </br>
                    <label for="Music" class="checkbox-inline">
                        <input type="checkbox" name="socInterest-Music" id="Music">Music
                    </label>
                    <label for="OutdoorAdventure" class="checkbox-inline">
                        <input type="checkbox" name="socInterest-OutdoorAdventure" id="OutdoorAdventure">Outdoor and Adventure
                    </label>
                    <label for="PoliticalCampaigningCauses" class="checkbox-inline">
                        <input type="checkbox" name="socInterest-PoliticalCampaigningCauses" id="Political, Campaigning & Causes">Political, Campaigning & Causes
                    </label>
                    <label for="Recreational" class="checkbox-inline">
                        <input type="checkbox" name="socInterest-Recreational" id="Recreational">Recreational
                    </label>
                    <label for="Volunteering" class="checkbox-inline">
                        <input type="checkbox" name="socInterest-Volunteering" id=>Volunteering
                    </label>
                    <label for="Other" class="checkbox-inline">
                        <input type="checkbox" name="socInterest-Other" id="Other">Other
                    </label>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-md-12 text-center">
                    <button id="submit" type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <output class="text-center title" id="messageOut">
        <div id='successMessage' class='hide text-center'>
            <h2>Thank you for registering your details, we'll be in contact shortly</h2>
            <button onclick="hideNShowThankyou('#successMessage', 'form')">Register</butotn>
    </output>
</section>
