<section id="contactUs">
    <div class="row inner-container text-center">
        <h1 class="text-center">CONTACT US</h1>
        <div id="contactList" class="text-center">
            <div>
                <a href="mailto:info@unitie.co.uk" class="contactClient"> <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i> info@unitie.co.uk</a>
            </div>
        </div>
        <div class="text-center">
            <ul class="social" id="socialNav">
                <li>
                    <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/officialunitie">
                        <span class="fa fa-twitter">Twitter</span>
                    </a>
                </li>
                <li>
                    <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/officialunitie">
                        <span class="fa fa-facebook">Facebook</span>
                    </a>
                </li>
                <li>
                    <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/company/6408057?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A6408057%2Cidx%3A3-1-3%2CtarId%3A1454000546826%2Ctas%3Aunitie">
                        <span class="fa fa-linkedin">Linked In</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
