<section id="contactUs">
    <div class="row inner-container text-center">
        <h1 class="text-center title">CONTACT US</h1>
        <div id="contactList" class="text-center">
            <div>
                <a href="tel:555-6677" class="contactClient"> <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i> 555-6677</a>
            </div>
            <div>
                <a href="mailto:info@unitie.co.uk" class="contactClient"> <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i> info@unitie.co.uk</a>
            </div>
        </div>
    </div>
</section>
