<section id="contactUs">
    <div class="row inner-container text-center">
        <h1 class="text-center title">CONTACT US</h1>
        <div id="contactList" class="text-center">
            <div>
                <a href="mailto:info@unitie.co.uk" class="contactClient"> <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i> info@unitie.co.uk</a>
            </div>
        </div>
        <div class="text-center">
            <ul class="social" id="socialNav">
                <li>
                    <a class="btn btn-social-icon btn-twitter">
                        <span class="fa fa-twitter"></span>
                    </a>
                </li>
                <li>
                    <a class="btn btn-social-icon btn-facebook">
                        <span class="fa fa-facebook"></span>
                    </a>
                </li>
                <li>
                    <a class="btn btn-social-icon btn-linkedin">
                        <span class="fa fa-linkedin"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
