=<h1> Company dashboard</h1>

<form role="form" action="/companydashboardsearch" method="POST" id="companyForm">

<label for="Industry">Industry </label>
<select name="industry" id="industry" >
    <option value=""  selected>Select industry</option>
    <option value="Aeronautics and Defence">Aeronautics and Defence</option>
    <option value="Alternative Investment Instruments">Alternative Investment Instruments</option>
    <option value="Automotive and Parts">Automotive and Parts</option>
    <option value="Banking">Banking</option>
    <option value="Beverages">Beverages</option>
    <option value="Building and Materials">Building and Materials</option>
    <option value="Commercial Transportation">Commercial Transportation</option>
    <option value="Domestic Goods">Domestic Goods</option>
    <option value="Electricity Generation and Distribution">Electricity Generation and Distribution</option>
    <option value="Electronic & Electrical Equipment">Electronic & Electrical Equipment</option>
    <option value="Engineering Products">Engineering Products</option>
    <option value="Financials">Financials</option>
    <option value="Food Products">Food Products</option>
    <option value="Forestry & Paper">Forestry & Paper</option>
    <option value="Fossil Fuels and Distribution">Fossil Fuels and Distribution</option>
    <option value="Health Care and Related Services">Health Care and Related Services</option>
    <option value="Household Utilities">Household Utilities</option>
    <option value="Industrial Chemicals">Industrial Chemicals</option>
    <option value="Industrials">Industrials</option>
    <option value="Insurance">Insurance</option>
    <option value="Investment Companies">Investment Companies</option>
    <option value="IT Hardware">IT Hardware</option>
    <option value="IT Services">IT Services</option>
    <option value="Leisure Products">Leisure Products</option>
    <option value="Media">Media</option>
    <option value="Medicine and Biotech Research">Medicine and Biotech Research</option>
    <option value="Metals">Metals</option>
    <option value="Mining">Mining</option>
    <option value="Personal Goods">Personal Goods</option>
    <option value="Property">Property</option>
    <option value="Property Investment Trusts">Property Investment Trusts</option>
    <option value="Retailers">Retailers</option>
    <option value="Support">Support</option>
    <option value="Telecommunications">Telecommunications</option>
    <option value="Tobacco">Tobacco</option>
    <option value="Tourism and Leisure">Tourism and Leisure</option>
    <option value="Utilities">Utilities</option>
</select>
<br>
<div class="row">
    <label for="targetRegion">Target Region(s) </label>
    <div class="form-group col-xs-12 col-md-12">
        <label for="targetRegion-All" class="checkbox-inline">
            <input type="checkbox" name="targetRegion-All" id="targetRegion-All">All
        </label>
        <label for="target region1" class="checkbox-inline">
            <input type="checkbox" name="targetRegion-East" id="targetRegion1">East
        </label>
        <label for="target region2" class="checkbox-inline">
            <input type="checkbox" name="targetRegion-EastMidlands" id="targetRegion2">East Midlands
        </label>
        <label for="target region3" class="checkbox-inline">
            <input type="checkbox" name="targetRegion-London" id="targetRegion3">London
        </label>
        <label for="target region4" class="checkbox-inline">
            <input type="checkbox" name="targetRegion-NorthEast" id="targetRegion4">North East
        </label>
        <label for="target region5" class="checkbox-inline">
            <input type="checkbox" name="targetRegion-NorthWest" id="targetRegion5">North West
        </label>
        <label for="target region6" class="checkbox-inline">
            <input type="checkbox" name="targetRegion-NorthernIreland" id="targetRegion-NorthernIreland">Northern Ireland
        </label>
        <label for="target region6" class="checkbox-inline">
            <input type="checkbox" name="targetRegion-Scotland" id="targetRegion-Scotland">Scotland
        </label>
        <label for="target region6" class="checkbox-inline">
            <input type="checkbox" name="targetRegion-SouthEast" id="targetRegion-SouthEast">South East
        </label>
        <label for="target region6" class="checkbox-inline">
            <input type="checkbox" name="targetRegion-SouthWest" id="targetRegion-SouthWest">South West
        </label>
        <label for="target region6" class="checkbox-inline">
            <input type="checkbox" name="targetRegion-Wales" id="targetRegion-Wales">Wales
        </label>
        <label for="target region6" class="checkbox-inline">
            <input type="checkbox" name="targetRegion-WestMidlands" id="targetRegion-WestMidlands">West Midlands
        </label>
        <label for="target region6" class="checkbox-inline">
            <input type="checkbox" name="targetRegion-YorkshireandtheHumber" id="targetRegion-YorkshireandtheHumber">Yorkshire and the Humber
        </label>
    </div>
</div>
<div class="row">
    <label for="societyInterest">Student Societies Interested in Partnering with </label>
    <div class="form-group col-xs-12 col-md-12">
        <label for="socInterestAll" class="checkbox-inline">
            <input type="checkbox" name="socInterest-All" id="socInterest-All">All
        </label>
        <label for="AcademicEmployability" class="checkbox-inline">
            <input type="checkbox" name="socInterest-AcademicEmployability" id="AcademicEmployability">Academic & Employability
        </label>
        <label for="ArtsCulture" class="checkbox-inline">
            <input type="checkbox" name="socInterest-ArtsCulture" id="ArtsCulture">Arts & Culture
        </label>
        <label for="FaithWorldview" class="checkbox-inline">
            <input type="checkbox" name="socInterest-FaithWorldview" id="FaithWorldview">Faith & Worldview
        </label>
        <label for="FitnessWellbeing" class="checkbox-inline">
            <input type="checkbox" name="socInterest-FitnessWellbeing" id="FitnessWellbeing">Fitness & Wellbeing
        </label>
        <label for="International" class="checkbox-inline">
            <input type="checkbox" name="socInterest-International" id="International">International
        </label>
        <label for="Media" class="checkbox-inline">
            <input type="checkbox" name="socInterest-Media" id="Media">Media
        </label>
        </br>
        <label for="Music" class="checkbox-inline">
            <input type="checkbox" name="socInterest-Music" id="Music">Music
        </label>
        <label for="OutdoorAdventure" class="checkbox-inline">
            <input type="checkbox" name="socInterest-OutdoorAdventure" id="OutdoorAdventure">Outdoor and Adventure
        </label>
        <label for="PoliticalCampaigningCauses" class="checkbox-inline">
            <input type="checkbox" name="socInterest-PoliticalCampaigningCauses" id="Political, Campaigning & Causes">Political, Campaigning & Causes
        </label>
        <label for="Recreational" class="checkbox-inline">
            <input type="checkbox" name="socInterest-Recreational" id="Recreational">Recreational
        </label>
        <label for="Volunteering" class="checkbox-inline">
            <input type="checkbox" name="socInterest-Volunteering" id=>Volunteering
        </label>
        <label for="Other" class="checkbox-inline">
            <input type="checkbox" name="socInterest-Other" id="Other">Other
        </label>
    </div>
</div>
<br>

<br>

<button type="submit">Submit</button>
</form>

<table>
  <tr>
    <th>ID</th>
    <th>Company Number</th>
    <th>Date</th>
    <th>Company Name</th>
    <th>Industry</th>
    <th>Contact Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Target Region All?</th>
    <th>Target Region</th>
    <th>Societies Interested All?</th>
    <th>Societies Interested</th>
  </tr>
  {{#each object}}
  <tr>
    <td>{{this.id}}</td>
    <td>{{this.companyid}}</td>
    <td>{{this.date}}</td>
    <td>{{this.companyName}}</td>
    <td>{{this.industryType}}</td>
    <td>{{this.contactName}}</td>
    <td>{{this.email}}</td>
    <td>{{this.phone}}</td>
    <td>{{this.targetRegion-All}}</td>
    <td>{{this.targetRegions}}</td>
    <td>{{this.socInterest-All}}</td>
    <td>{{this.socInterests}}</td>
    <td><button type="button" name="button" id="deleteCompany"><a href="/deletecompany/{{this.id}}" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
</button></td>
  </tr>
  {{/each}}
</table>

<script type="text/javascript" src="http://jqueryjs.googlecode.com/files/jquery-1.3.1.min.js" > </script>
<script type="text/javascript" src="http://www.kunalbabre.com/projects/table2CSV.js" > </script>
<script type="text/javascript" src="/../assets/js/dashboardcsv.js" ></script>
