<link rel="stylesheet" type="text/css" href="../assets/css/company.css">

<body>
  <header>
    <nav class="navbar navbar-default navbar-fixed-top navColour">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <span id="navTitle">Unitie</span>
          </a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#intro">Home</a></li>
            <li><a href="#aboutUs">About Us</a></li>
            <li><a href="#services">Why us</a></li>
            <li><a href="#howItWorks">How Unitie Works</a></li>
            <li><a href="#caseStudies">Our Work</a></li>
            <li><a href="#register">Sign Up</a></li>
            <li><a href="#contactUs">Contact us</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <section id="intro">
    <div class="companyBannerImage">
      <div class="introText">
        <h1 id="introHeader">3 Million Students One Platform</h1>
        <h4>Increase your engagement with the student demographic</h4>
      </div>
    </div>
  </section>
  <section id="aboutUs">
    <div class="inner-container text-center">
      <h1 class="text-center title">ABOUT US</h1>
      <img src="assets/images/aboutus.png" />
.whyus-icon-size {
  font-size: 2em;
}
    </div>
  </section>
  <!-- <section id="services">
    <h1 class="text-center title">WHY US</h1>
    <div class="inner-container row">

      <article class="col-xs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid provident, est obcaecati temporibus earum maiores qui, saepe vero amet voluptate quidem fugit, hic reprehenderit veniam deleniti dolores ea repudiandae non?</article>
      <ul class="col-xs-6">
        <li>
          <img src="assets/images/light-bulb10.png" />
        </li>
        <br>
        <li>
          <img src="assets/images/light-bulb10.png" />
        </li>
        <br>
        <li>
          <img src="assets/images/light-bulb10.png" />
        </li>
        <br>
        <li>
          <img src="assets/images/light-bulb10.png" />
        </li>
        <br>
        <li>
          <img src="assets/images/light-bulb10.png" />
        </li>
        <br>
      </ul>

    </div>
  </section> -->
  <!-- About Section u -->
  <!-- BUG FIX ul.timeline class prevents the four images from centering on a very wide monitor
   -->
 
 <!-- About Section -->
   <section id="about">
     <div class="container">
       <div class="row">
         <div class="col-lg-12 text-center">
           <h2 class="section-heading">How it works</h2>
           <!-- <h3 class="section-subheading text-muted">Funderfund international property s</h3> -->
         </div>
       </div>
       <div class="row">
         <div class="col-lg-12">
           <ul class="timeline">
             <li>
               <div class="timeline-image">
                 <i class="img-circle img-responsive fa fa-arrow-circle-left whyus-icon-size" ></i>
               </div>
               <div class="timeline-panel">
                 <div class="timeline-heading">
                   <h4>Browser Our Data</h4>
                 </div>
                 <div class="timeline-body">
                   <p class="text-muted">Property Funder aggregates a wealth of property data, completely free for you to view.</p>
                 </div>
               </div>
             </li>
             <li class="timeline-inverted">
               <div class="timeline-image">
                 <img class="img-circle img-responsive img-rach" src="assets/images/arrow_crop.png" alt="">
               </div>
               <div class="timeline-panel">
                 <div class="timeline-heading">
                   <h4>Invest in your choosen location</h4>
                 </div>
                 <div class="timeline-body">
                   <p class="text-muted">Property Funder allows you access to the global property market via Funderfunding. Allowing to invest as little, or as much as you like.</p>
                 </div>
               </div>
             </li>
             <li>
               <div class="timeline-image">
                 <img class="img-circle img-responsive" src="assets/images/Collaboration.png" alt="">
               </div>
               <div class="timeline-panel">
                 <div class="timeline-heading">
                   <h4>Analyse</h4>
                   <!-- <h4 class="subheading">Our data gives you uptodate info on your property investment.</h4> -->
                 </div>
                 <div class="timeline-body">
                   <p class="text-muted">Use our location analytics technology to help validate your decision.</p>
                 </div>
               </div>
             </li>
             <li class="timeline-inverted">
               <div class="timeline-image">
                 <img class="img-circle img-responsive" src="assets/images/people_crop.png" alt="">
               </div>
               <div class="timeline-panel">
                 <div class="timeline-heading">
                   <h4>Invest</h4>
                   <!-- <h4 class="subheading">Phase Two Expansion</h4> -->
                 </div>
                 <div class="timeline-body">
                   <p class="text-muted">Either during an open crowdfunding window or via available shares in the secondary market.</p>
                 </div>
               </div>
             </li>
           </ul>
         </div>
       </div>
     </div>
   </section>


  <section id="howItWorks">
    <h1 class="text-center title">HOW UNITIE WORKS</h1>
    <div class="container" id="services">
      <!-- Example row of columns -->
      <div class="row features">
        <div class="col-lg-4 text-center">
          <div class="single-fet">
            <div>
              <span class="icon-stack icon-4x">
                <img src="assets/images/Create.png" class="img-circle" alt="Circular Image">

              </span>
            </div>
            <h2>1. Create Your Campaign</h2>

            <p>Tell us about your brand and we’ll help you build a successful campaign. Whether it’s sample distribution, generating social media activity or simply maintaining your on-campus presence, our team have you covered!</p>

          </div>
        </div>
        <div class="col-lg-4 text-center">
          <div class="single-fet">
            <div>
              <span class="icon-stack icon-4x">
                <img src="assets/images/Collaboration.png" class="img-circle" alt="Circular Image">
              </span>
            </div>
            <h2>2. Collaborate with Societies</h2>

            <p>Our clever platform will help you find the perfect society partner, based on your brand and your campaign.’ underneath ‘Collaborate with Societies</p>

          </div>
        </div>
        <div class="col-lg-4 text-center">
          <div class="single-fet">
            <div>
              <span class="icon-stack icon-4x">
                <img src="assets/images/Manage.png" class="img-circle" alt="Circular Image">
              </span>
            </div>
            <h2>3. Manage Your Campaign

            </h2>

            <p>Use our platform to manage all the details of your campaign. And also track and measure your marketing impact</p>

          </div>
        </div>

      </div>


    </div>
  </section>
  <section id="caseStudies">
    <div class="inner-container">
      <div class="row">
        <h1 class="text-center title">OUR WORK</h1>
        <article class="col-xs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid provident, est obcaecati temporibus earum maiores qui, saepe vero amet voluptate quidem fugit, hic reprehenderit veniam deleniti dolores ea repudiandae non?</article>
        <img class="col-xs-6" src="assets/images/casestudies2.jpg">
      </div>
      <div class="row" id="impressions">
        <h6 class="col-xs-4 text-center">18 MILLION MENTIONS</h6>
        <h6 class="col-xs-4 text-center">2 BILLION CONNECTIONS</h6>
        <h6 class="col-xs-4 text-center">99 TRILLION LIKES</h6>
      </div>
    </div>
  </section>

  {{>companyform}}
</body>
{{>footer}}
