<h1> Company dashboard</h1>

<form role="form" action="/companydashboardsearch" method="POST" id="companyForm">

<label for="Industry">Industry </label>
<select name="industry" id="industry" >
    <option value=""  selected>Select industry</option>
    <option value="Aeronautics and Defence">Aeronautics and Defence</option>
    <option value="Alternative Investment Instruments">Alternative Investment Instruments</option>
    <option value="Automotive and Parts">Automotive and Parts</option>
    <option value="Banking">Banking</option>
    <option value="Beverages">Beverages</option>
    <option value="Building and Materials">Building and Materials</option>
    <option value="Commercial Transportation">Commercial Transportation</option>
    <option value="Domestic Goods">Domestic Goods</option>
    <option value="Electricity Generation and Distribution">Electricity Generation and Distribution</option>
    <option value="Electronic & Electrical Equipment">Electronic & Electrical Equipment</option>
    <option value="Engineering Products">Engineering Products</option>
    <option value="Financials">Financials</option>
    <option value="Food Products">Food Products</option>
    <option value="Forestry & Paper">Forestry & Paper</option>
    <option value="Fossil Fuels and Distribution">Fossil Fuels and Distribution</option>
    <option value="Health Care and Related Services">Health Care and Related Services</option>
    <option value="Household Utilities">Household Utilities</option>
    <option value="Industrial Chemicals">Industrial Chemicals</option>
    <option value="Industrials">Industrials</option>
    <option value="Insurance">Insurance</option>
    <option value="Investment Companies">Investment Companies</option>
    <option value="IT Hardware">IT Hardware</option>
    <option value="IT Services">IT Services</option>
    <option value="Leisure Products">Leisure Products</option>
    <option value="Media">Media</option>
    <option value="Medicine and Biotech Research">Medicine and Biotech Research</option>
    <option value="Metals">Metals</option>
    <option value="Mining">Mining</option>
    <option value="Personal Goods">Personal Goods</option>
    <option value="Property">Property</option>
    <option value="Property Investment Trusts">Property Investment Trusts</option>
    <option value="Retailers">Retailers</option>
    <option value="Support">Support</option>
    <option value="Telecommunications">Telecommunications</option>
    <option value="Tobacco">Tobacco</option>
    <option value="Tourism and Leisure">Tourism and Leisure</option>
    <option value="Utilities">Utilities</option>
</select>
<br>
<label for="Type of society">Type of society </label>
<select name="typeSociety" id="typeSociety" >
    <option value=""  selected>Select society type</option>
    <option value="Academic & Employability" selected="selected">Academic & Employability</option>
    <option value="Arts & Culture">Arts & Culture</option>
    <option value="Faith & Worldview">Faith & Worldview</option>
    <option value="Fitness & Wellbeing">Fitness & Wellbeing</option>
    <option value="International">International</option>
    <option value="Media">Media</option>
    <option value="Music">Music</option>
    <option value="Outdoor and Adventure">Outdoor and Adventure</option>
    <option value="Political, Campaigning & Causes">Political, Campaigning & Causes</option>
    <option value="Recreational">Recreational</option>
    <option value="Volunteering">Volunteering</option>
    <option value="Committee Resources">Committee Resources</option>
    <option value="Other">Other</option>
</select>
<br>

<br>

<button type="submit">Submit</button>

</form>





<table>
  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Company Name</th>
    <th>Industry</th>
    <th>Contact Name</th>
    <th>Email</th>
    <th></th>
  </tr>
  {{#each object}}
  <tr>
    <td>{{this.id}}</td>
    <td>{{this.date}}</td>
    <td>{{this.companyName}}</td>
    <td>{{this.industryType}}</td>
    <td>{{this.contactName}}</td>
    <td>{{this.email}}</td>
    <td><button type="button" name="button" id="deleteCompany"><a href="/deletecompany/{{this.id}}" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
</button></td>
  </tr>
  {{/each}}
</table>
