<link rel="stylesheet" type="text/css" href="../assets/css/company.css">

<body>
  <header>
    {{>navigation}}
  </header>
  <section id="intro">
    <div class="bannerImage">
      <div class="introText">
        <h1>Intro</h1>
        <h4>>some words in the paragraph, lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum.</h4>
      </div>
    </div>
  </section>
  <section id="caseStudies">
    <div class="inner-container">
      <div class="row">
        <h1 class="text-center title">CASE STUDIES</h1>
        <article class="col-xs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid provident, est obcaecati temporibus earum maiores qui, saepe vero amet voluptate quidem fugit, hic reprehenderit veniam deleniti dolores ea repudiandae non?</article>
        <img class="col-xs-6" src="assets/images/casestudies2.jpg">
      </div>
      <div class="row" id="impressions">
        <h6 class="col-xs-4 text-center">18 MILLION MENTIONS</h6>
        <h6 class="col-xs-4 text-center">2 BILLION CONNECTIONS</h6>
        <h6 class="col-xs-4 text-center">99 TRILLION LIKES</h6>
      </div>
    </div>
  </section>
  <section id="aboutUs">
    <div class="inner-container text-center">
      <h1 class="text-center title">ABOUT US</h1>
      <img src="assets/images/aboutus.png" />
    </div>
  </section>


  <section id="howItWorks">
    <h1 class="text-center title">HOW IT WORKS</h1>
    <div class="container" id="services">
      <!-- Example row of columns -->
      <div class="row features">
        <div class="col-lg-4 text-center">
          <div class="single-fet">
            <div>
              <span class="icon-stack icon-4x">
                <img src="assets/images/Manage.png" class="img-circle" alt="Circular Image">
              </span>
            </div>
            <h2>With Bootstrap
              <span class="label label-warning">3.0</span>
            </h2>

            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet. </p>

          </div>
        </div>
        <div class="col-lg-4 text-center">
          <div class="single-fet">
            <div>
              <span class="icon-stack icon-4x">
                <img src="assets/images/Create.png" class="img-circle" alt="Circular Image">
              </span>
            </div>
            <h2>Fully Responsive</h2>

            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet. </p>

          </div>
        </div>
        <div class="col-lg-4 text-center">
          <div class="single-fet">
            <div>
              <span class="icon-stack icon-4x">
                <img src="assets/images/Collaboration.png" class="img-circle" alt="Circular Image">
              </span>
            </div>
            <h2>And Totally
              <span style="color:#248822">Free</span>
            </h2>

            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet. </p>

          </div>
        </div>

      </div>


    </div>
  </section>



  <section id="services">
    <div class="inner-container">

      <div class="row">

        <h1 id="servicesTitle" class="text-center">SERVICES </h1>
        <article class="col-xs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid provident, est obcaecati temporibus earum maiores qui, saepe vero amet voluptate quidem fugit, hic reprehenderit veniam deleniti dolores ea repudiandae non?</article>
        <ul class="col-xs-6">
          <li>
            <img src="assets/images/light-bulb10.png" />
          </li>
          <br>
          <li>
            <img src="assets/images/light-bulb10.png" />
          </li>
          <br>
          <li>
            <img src="assets/images/light-bulb10.png" />
          </li>
          <br>
          <li>
            <img src="assets/images/light-bulb10.png" />
          </li>
          <br>
          <li>
            <img src="assets/images/light-bulb10.png" />
          </li>
          <br>
        </ul>
      </div>
    </div>
  </section>
  {{>companyform}}
</body>
{{>footer}}
