<link rel="stylesheet" type="text/css" href="../assets/css/company.css">

<body>

  <header>
    <nav class="navbar navbar-fixed-top navbar-custom">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle navbar-custom" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/">
            <img id="navLogo" src="../assets/images/newUnitie Logo.png">
          </a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="myNavbar">
          <ul class="nav navbar-nav menuOptions">
            <li class="homeNav"><a href="#intro">Home</a></li>
            <li class="aboutUsNav"><a href="#aboutUs">About Us</a></li>
            <li class="whyUsNav"><a href="#whyUs">Why us</a></li>
            <li class="howItWrksNav"><a href="#howItWorks">How Unitie Works</a></li>
            <li class="ourWrkNav"><a href="#ourWork">Our Work</a></li>
            <li class="registerNav"><a href="#register">Sign Up</a></li>
            <li class="contactNav"><a href="#contactUs">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <section id="intro">
    <div class="companyBannerImage">
      <div class="introText">
        <h1 id="introHeader">3 Million Students One Platform.</h1>
        <h2>Increase your engagement with the student demographic</h2>
      </div>
    </div>
  </section>

    <section id="aboutUs">
        <div class="row inner-container">
            <h1 class="text-center title">ABOUT US</h1>
            <div class="text-center">
                <img src="assets/images/newaboutusCompanyContent.png"/>
                <br>
                <h3> We help student societies collaborate with brands to get sponsorship</h3>
            </div>
        </div>
    </section>

    <section id="whyUs">
      <div class="inner-container">
        <h1 class="text-center title">WHY US</h1>
        <div class="row">
            <div class="col-xs-5 col-md-3 col-lg-3">
                <p id="whyUsText">What kind of <strong> engagements </strong> can we help deliver at universities?</p>
            </div>
            <div class="col-xs-7 col-md-9 col-lg-9">
                <div class="row">
                    <div class="col-xs-5 col-md-3 imgWu">
                        <img src="assets/images/arrow.png" />
                    </div>
                    <div class="col-xs-7 col-md-7 ">
                        <p class="vcenter">
                            INCREASE ON-CAMPUS PRESENCE: <span class="hideInMobile">Find relevant societies to sponsor and maintain your on-campus buzz!
                            </span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 col-md-3 imgWu">
                        <img src="assets/images/people.png" />
                    </div>
                    <div class="col-xs-7 col-md-7">
                        <p class="vcenter ">
                            INCREASE ON-CAMPUS PRESENCE:<span class="hideInMobile">Find relevant societies to sponsor and maintain your on-campus buzz!
                            </span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 col-md-3 imgWu">
                        <img src="assets/images/target.png" />
                    </div>
                    <div class="col-xs-7 col-md-7">
                        <p class="vcenter">
                            INCREASE ON-CAMPUS PRESENCE:<span class="hideInMobile">Find relevant societies to sponsor and maintain your on-campus buzz!
                            </span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 col-md-3 imgWu">
                        <img src="assets/images/target.png" />
                    </div>
                    <div class="col-xs-7 col-md-7">
                        <p class="vcenter">
                            INCREASE ON-CAMPUS PRESENCE: <span class="hideInMobile">Find relevant societies to sponsor and maintain your on-campus buzz!
                            </span>
                        </p>
                    </div>
                </div>
            </div>
         </div>
      </div>
    </section>

    <section id="howItWorks">

        <div class="container">
            <h1 class="text-center title">HOW UNITIE WORKS</h1>
            <!-- Example row of columns -->
            <div class="row features">
                <div class="col-lg-4 text-center">
                    <div class="single-fet">
                        <div>
                            <span class="icon-stack icon-4x">
                                <img src="assets/images/Create.png" class="img-circle" alt="Circular Image">
                            </span>
                        </div>
                        <h2 class="howItWorksSubHead">1.Create your Campaign</h2>
                        <p>Tell us about your society and we’ll help you build a successful sponsorship campaign. Whether it’s sponsorship for the whole year or for a one off event, our team have you covered</p>
                    </div>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="single-fet">
                        <div>
                            <span class="icon-stack icon-4x">
                                <img src="assets/images/Collaboration.png" class="img-circle" alt="Circular Image">
                            </span>
                        </div>
                        <h2 class="howItWorksSubHead">2.Match With Brands </h2>
                        <p>Our platform will help you source sponsorship partners, based on your society’s details. </p>
                    </div>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="single-fet">
                        <div>
                            <span class="icon-stack icon-4x text-center">
                                 <img src="assets/images/Manage.png" class="img-circle" alt="Circular Image">
                             </span>
                        </div>
                        <h2 class="howItWorksSubHead">3.Manage Your Campaign</h2>
                        <p>Use our platform to manage all the details of your sponsorship agreements and share the activities of your society with your sponsors</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="ourWork">
        <div class="container">
            <h1 class="text-center title">Our Work: Supermalt Case Study</h1>
            <div class="features">
                <div class="inner-case-study col-sm-12 col-md-12 col-xs-12">
                    <div class="case-study-text col-sm-6 col-md-6 col-xs-12">
                        <h4 class="text-center">The Challenge:</h4>
                        <p>Supermalt, a malt beverage brand wanted to increase their social media presence within the student demographic.</p>
                        <br>
                        <h4 class="text-center">Our Solution:</h4>
                        <p>We partnered Supermalt with The Big Clash Game Show, the largest on-going event show within the Afro-Caribbean student community. Supermalt sponsored the final show of the year and audience members were encouraged take selfies and upload their images on social media with various hashtags involving Supermalt.</p>
                    </div>
                    <div class="case-study-image col-sm-6 col-md-6 col-xs-12">
                        <img src="assets/images/supermaltCase.jpg" style="margin-right:-3em;" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <h1 class="text-center">The Fantastic Results</h1>
    <section id="caseStudies2">
        <div class="container">
            <div class="features">
                <div class="col-lg-4 text-center">
                    <div class="single-fet">
                        <div>
                            <span class="icon-stack icon-4x">
                  <h2 class="case-numbers">151,916
  </h2>
                </span>
                        </div>
                        <h2> Engagements </h2>
                    </div>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="single-fet">
                        <div>
                            <span class="icon-stack icon-4x">
                  <h2 class="case-numbers">852,112
  </h2>
                </span>
                        </div>
                        <h2> Impressions</h2>
                    </div>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="single-fet">
                        <div>
                            <span class="icon-stack icon-4x">
                  <h2 class="case-numbers">501
  </h2>
                </span>
                        </div>
                        <h2> Posts </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{>companyform}}
</body>
{{>contactus}} {{>footer}}
