<link rel="stylesheet" href="assets/css/home.css">
<body >
    <header>
        <img src="../assets/images/Unitie Logo.png" id="homeLogo" alt="Unitie Logo">
    </header>
    <section class="text-center ">
        <div class="inner-container">
            <video autoplay loop poster="assets/images/polina.jpg" id="bgvid">
                <source src="assets/video/polina.webm" type="video/webm">
            </video>
            <h3>Paragraph 1 Brief description</h3>
            <p>
                some words in the paragraph, lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum.
            </p>
            <div>
                <a class="homeButton" href="/society">Societies</a>
                <a class="homeButton" href="/company">Companies</a>
            </div>
        </div>
    </section>
</body>
