<link rel="stylesheet" href="assets/css/home.css">
<body >
    <header>
        <div >
        <img src="../assets/images/Unitie Logo.png" id="homeLogo" class="img-circle" alt="Unitie Logo">
        </div>
    </header>
    <section class="text-center ">
        <div class="inner-container">
            <video autoplay loop poster="assets/images/polina.jpg" id="bgvid">
                <source src="assets/video/unitievid.mp4" type="video/webm">
            </video>
            <h1>Paragraph 1 Brief description</h1>
            <h3>
                some words in the paragraph, lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum.
            </h3>
            <div class="buttonWrapper">
                <a class="homeButton" href="/society">Societies</a>
                <a class="homeButton" href="/company">Companies</a>
            </div>
        </div>
    </section>
</body>

