<div clas="container-fluid">
    <header>
        <h1 class="text-center">Unitie</h1>
    </header>
    <section class="text-center">
        <div class="inner-container">
            <h3>Paragraph 1 Brief description</h3>
            <p>
                some words in the paragraph, lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum.
            </p>
            <div>
                <a class="homeButton" href="/society">   Societies   </a>
                <a class="homeButton" href="/company">   Companies   </a>
            </div>
        </div>
    </section>
</div>
