
<link rel="stylesheet" type="text/css" href="assets/css/society,css">
<body>
<header>
{{>navigation}}
</header>
<section id="aboutUs">
    <div class="inner-container">
        <h3>About Us</h3>
        <p>some words in the paragraph, lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
    </div>
</section>
<section id="howItWorks">
    <div class="inner-container">
        <h3>How it Works</h3>
        <div class="col-md-3 col-lg-4 ">
            <div class='thumbnail'>
                <h1>1. Do this </h1>
                <img src="">
                <button><a href="#societyForm">Register</a></button>
            </div>
        </div>
        <div class="col-md-3 col-lg-4 ">
            <div class='thumbnail'>
                <h1>2. then this</h1>
                <img src="" class="img-circle" alt="Circular Image">
                <button><a href="#societyForm">Register</a></button>
            </div>
        </div>
        <div class="col-md-3 col-lg-4 arrangeAccess">
            <div class='thumbnail'>
                <h1>3. And Finally this</h1>
                <img src="">
                <button><a href="#societyForm">Register</a></button>
            </div>
        </div>
    </div>
</section>
{{>societyform}}
</div>
</body>