
<link rel="stylesheet" type="text/css" href="assets/css/society.css">
<body>
<header>
{{>navigation}}
</header>

<section id="intro">
  <div class="inner-container">
    <h3>Intro</h3>
    <p>some words in the paragraph, lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
  </div>
</section>
<section id="howItWorks">
<div class="inner-container">
  <h1 class="text-center">HOW IT WORKS</h1>
  <div class="col-md-3 col-lg-4 ">
    <div class='thumbnail'>
      <img src="assets/images/Collaboration.png" class="img-circle" alt="Circular Image">
      <h3>1. Collaboration </h3>
    </div>
  </div>
  <div class="col-md-3 col-lg-4 ">
    <div class='thumbnail'>
      <img src="assets/images/Create.png" class="img-circle" alt="Circular Image">
      <h3>2. Manage </h3>
      <button><a href="#societyForm">Register</a></button>
    </div>
  </div>
  <div class="col-md-3 col-lg-4 arrangeAccess">
    <div class='thumbnail'>
      <img src="assets/images/Manage.png" class="img-circle" alt="Circular Image">
      <h3>3.Creation</h3>
    </div>
  </div>
</div>
</section>
<section id="aboutUs">
  <h1 class"text-center">ABOUT US</h1>
  <div class="inner-container">
    <img src="assets/images/aboutus.png" />
  </div>
</section>
{{>societyform}}
</body>
