#intro {

}

.introText {
	text-align: center;
	padding-top: 15em;
	color: white;
	margin: 0 4em;

}

.bannerImage {
	background: url(../images/brandHome.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	position: relative;
	margin:0;
	padding :0;
	height:40em;

}