img {
  border-style: none;
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

.introText {
	text-align: center;
	padding-top: 15em;
	color: white;
	margin: 0 4em;

}

.bannerImage {
	background: url(../images/brandHome.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	position: relative;
	margin:0;
	padding :0;
	height:45em;

}

ul {
  list-style-type: none;
  text-align: center;
  display: inline-block;
}
#impressions {
  margin-top: 2em;
}

#servicesTitle {
  text-align: center;
  margin:0 auto;
  position: relative;
  display: block;
  margin-left: -20em;
}
