html, body {
    margin: 0;
    padding:0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

header {
  text-align: center;
}

.homeButton {
    border-radius: 25px;
    border: solid 1px black;
    background: rgba(255, 0, 0, 0);
    margin: 0.5em;
    padding: 5px;
    text-decoration: none;
    color: initial;
}

.inner-container {
    margin: 15em 3em;
}

#gallery .thumbnail {
    width: 150px;
    height: 150px;
    float: left;
    margin: 2px;
}

#gallery .thumbnail img {
    width: 150px;
    height: 150px;
}



/*admin login basic authentication styling*/

.hidden {
  display: none;
}

#login {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-color: white;
  padding-top: 30vh;
}

#loginform {
  margin: 0 auto;
  max-width: 50%;
}

#loginform input {
  width: auto;
}
