html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.inner-container {
    margin: 0 2em;
    text-align: auto;
    padding-top: 1em;
}


/*  Navigation  */

.navbar-custom {
    background-color: white;
    color: black;
}

.navbar-custom button {
    border-color: black;
}

.icon-bar {
    color: grey;
    background-color: grey;
}

#navLogo {
    background-color: white;
    width: auto;
    height: 50px;
    margin: 5px;
    margin-left: 4em;
}

.title {
    margin-top: 2em;
    margin-bottom: 2em;
}

.introText {
    text-align: center;
    padding-top: 15em;
    color: white;
    margin: 0 4em;
}

.introText h1 {
    color: #7b9fad;
    font-weight: bolder;
    text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
}

.introText h2 {
    font-weight: bolder;
    text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
}

#gallery .thumbnail {
    width: 150px;
    height: 150px;
    float: left;
    margin: 2px;
}

#gallery .thumbnail img {
    width: 150px;
    height: 150px;
}



/*admin login basic authentication styling*/

.hidden {
    display: none;
}

#login {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: white;
    padding-top: 30vh;
}


/* registration forms */

#register h1, #register h4 {
    color: white;
    margin-bottom: 1em;
}


#register {
    background-color:#183467;
    width:100%;

}
#register form {
    background-color:#183467;
    padding: 1em;
    margin: 1em;
    border-radius: 15px;
    color: white;
}
#register input, #register select, #register textarea, .checkbox {
    background-color: #95b2bd;
}

.checkbox-inline {
    line-height: 2em;
}

#register button {
    color: #7b9fad;
    font-size: 2em;
    margin-top: 2em;
}

.inner-container {
    padding-bottom: 2em;
}



#loginform {
    margin: 0 auto;
    max-width: 50%;
}

#loginform input {
    width: auto;
}

#contactList a {
    font-size: 2em;
    color: black;
}

#contactList {
    width: 100%;
}

.contactClient {
    display: block;
    position: relative;
    height: 4em;
    text-decoration: none;
}

.social {
    text-align: center;
    display: block;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.social li {
    display: relative;
    position: inline-block;
    font-size: 2em;
}

.social li a {
    text-decoration: none;
    color: black;
    list-style: none;
    padding: 0.5em;
    display: relative;
    font-size: 1.5em;
    position: block;
}

.social,
.icons > li:hover {
    cursor: pointer;
}

footer {
    margin: 4em;
    height: 10em;
}

@media screen and (max-device-width: 800px) {
    #contactList a {
        font-size: 2em;
        color: black;
    }
    #contactLis {
        width: 100%;
    }
    .contactClient {
        display: block;
        position: relative;
        height: 4em;
        text-decoration: none;
    }
}
