html, body {
    margin: 0;
    padding:0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

header {
  text-align: center;
}

.inner-container { 
  margin:0 4em;
  text-align: auto;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background-color: white;
  color: black;
}
.navColor *,.navbar-default, .navbar-brand,  .navbar { 
    background-color: white;
    color: black;
}
.navColor a { 
    background-color: white;
    color: black;
}

#navTitle {
    background-color: white;
    color: black;
 
}

.title { 
  margin-top: 2em;
  margin-bottom: 2em;
}

/* .inner-container {
    margin: 15em 3em;
}
 */
#gallery .thumbnail {
    width: 150px;
    height: 150px;
    float: left;
    margin: 2px;
}

#gallery .thumbnail img {
    width: 150px;
    height: 150px;
}



/*admin login basic authentication styling*/

.hidden {
  display: none;
}

#login {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-color: white;
  padding-top: 30vh;
}

#loginform {
  margin: 0 auto;
  max-width: 50%;
}

#loginform input {
  width: auto;
}

#contactList{
  margin:2em;
  list-style: none;
}
#contactList li a {
  color:black;
  font-size: 3em;
  text-decoration: none;



}

footer {
    margin: 4em;
    height:10em;

}

@media screen and (max-device-width: 800px) {

   #contactList a {
        font-size: 1.2em;
        line-height: 2em;

    }


    #contactLis{
        width:100%;
    }


    .contactClient {
      display: block;
      position: relative;
      height:4em;
      text-decoration: none;
    }
}