video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../images/polina.jpg) no-repeat;
    background-size: cover;
}


#homeLogo { 
    width: 250px;
    height: 250px;
    text-align: center;
    margin: 1em auto;
    padding: 0;
    background-color: white;
    border-radius:100%;
}

@media screen and (max-device-width: 800px) {

    body {
        background-image: url(../images/polina.jpg) ;
        background-size: cover;
        background-repeat: no-repeat;
    }
  
    #bgvid {
        display: none;
    }

    #homeLogo { 
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 1em auto;
    padding: 0;
    background-color: white;
    border-radius:100%;
    }
}
