img {
    border-style: none;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}



.societyBannerImage {
    background: url(../images/studentsInLectureTheatreFaded.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    height: 45em;
}


.introText {
    text-align: center;
    padding-top: 15em;
    color: white;
    margin: 0 4em;
}

.introText h1 {
    color: #7b9fad;
    font-weight: bolder;
    text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
}

.introText h2 {
    font-weight: bolder;
    text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;

}

#register h1 {
	color: white;
	padding-top:1em;
}
#register {
    background-color:#7b9fad;
 	width:100%;

}
#register form {
    background-color:#ceea82;
/*     background-image: linear-gradient(green, yellow); */
    padding: 2em;
    margin: 1em;
    border-radius: 15px;
    color: black;
}

#register button {
    color: #7b9fad;
    font-size: 2em;
    padding: 0, 25em;
}

.inner-container {
	padding-bottom: 2em;
}

@media screen and (max-device-width: 800px) {
    .contactClient { text-decoration: none; 
                  }
    
}