img {
    border-style: none;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

/* navigation */


h1.text-center.howItWorksHead {
    margin: 0;
    padding: 1em;
}


 .homeNav a{
  color: #000000;
  font-weight: bold;
}

.aboutUsNav a{
  color: #000000;
  font-weight: bold;
}
.howItWrksNav a {
  color: #000000;
  font-weight: bold;
}

.registerNav a {
  color: #000000;
  font-weight: bold;

}

.contactNav a {
  color: #000000;
  font-weight: bold;

}
.homeNav:hover{
  border-bottom: 4px solid #000000;
  color: #000000;
  font-weight: bold;
}

.aboutUsNav:hover {
  border-bottom: 4px solid #000000;
  color: #000000;
  font-weight: bold;

}
.howItWrksNav:hover {
  border-bottom: 4px solid #000000;
  color: #000000;
  font-weight: bold;
}

.registerNav:hover {
  border-bottom: 4px solid #000000;
  color: #000000;
  font-weight: bold;

}

.contactNav:hover {
  border-bottom: 4px solid #000000;
  color: #000000;
  font-weight: bold;

}


.societyBannerImage {
    background: url(../images/newstudentsInLectureTheatreFaded.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    height: 45em;
}


.inner-container {
	padding-bottom: 2em;
}

@media screen and (max-device-width: 800px) {
    .contactClient { text-decoration: none;
                  }
    .societyBannerImage {
      height:40em;
    }

}
