img {
    border-style: none;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

/* navigation */
 
 .homeNav a{
  color: #7b9fad;
  font-weight: bold;
}

.aboutUsNav a{
  color: #85d077;
  font-weight: bold;
}
.howItWrksNav a {
  color:#c31c46;
  font-weight: bold;
}

.registerNav a {
  color: yellow;
  font-weight: bold;

}

.contactNav a {
  color: #7b9fad;
  font-weight: bold;

}
.homeNav:hover{
  border-bottom: 4px solid #7b9fad;
  color: #7b9fad;
  font-weight: bold;
}

.aboutUsNav:hover {
  border-bottom: 4px solid #85d077;
  color: #85d077;
  font-weight: bold;

}
.howItWrksNav:hover {
  border-bottom: 4px solid #c31c46;
  color:#c31c46;
  font-weight: bold;
}

.registerNav:hover {
  border-bottom: 4px solid yellow;
  color: yellow
  font-weight: bold;

}

.contactNav:hover {
  border-bottom: 4px solid #7b9fad;
  color: #7b9fad;
  font-weight: bold;

}


.societyBannerImage {
    background: url(../images/studentsInLectureTheatreFaded.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    height: 45em;
}



#register h1 {
	color: white;
}
#register {
    background-color:#7b9fad;
 	width:100%;

}
#register form {
    background-color:#ceea82;
/*     background-image: linear-gradient(green, yellow); */
    padding: 2em;
    margin: 1em;
    border-radius: 15px;
    color: black;
}

#register button {
    color: #7b9fad;
    font-size: 2em;
    padding: 0, 25em;
}

.inner-container {
	padding-bottom: 2em;
}

@media screen and (max-device-width: 800px) {
    .contactClient { text-decoration: none; 
                  }
    
}